{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Zmiana hasła{% endblock title %}

{% block content %}
  <h1>{% if token_fail %}Niewłaściwy token
  {% else %}Zmiana hasła{% endif %}</h1>

  {% if token_fail %}
    <p>Link resetujący hasło jest niepoprawny. Być może został już użyty?  Kliknij aby wywołać <a href="{% url 'account_reset_password' %}">ponowny reset hasła</a>.</p>
  {% else %}
    {% if form %}
      <form method="POST" action=".">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary" type="submit">Zmień hasło</button>
      </form>
    {% else %}
        <p>Twoje hasło zostało zmienione.</p>
    {% endif %}
  {% endif %}
{% endblock content%}
